git+https://github.com/hanslhansl/din3990.git
git+https://github.com/hanslhansl/din743.git
git+https://github.com/hanslhansl/diniso21771.git
git+https://github.com/hanslhansl/din3962.git
git+https://github.com/hanslhansl/diniso1328.git